<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detalles</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-mapa></app-mapa>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="name">
            {{peoples.name}}
          </ion-label>
          <ion-label class="stars">
            {{peoples.estrellas}} <ion-icon name="star" class="icon"></ion-icon>
          </ion-label>
          <ion-avatar>
            <img src="{{peoples.imgUrl}}" alt="" class="peopleImage">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-label class="placa">
            {{peoples.placa}}
          </ion-label>
          <ion-label class="carro">
            {{peoples.vehiculo}}
          </ion-label>
          <ion-avatar class="ion-float-end">
            <img src="{{peoples.imgCar}}" alt="" class="car">
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  

<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="call" (click)="prueba('96487664')">
      <ion-icon name="call"></ion-icon>
      <ion-label>Llamar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>  -->

<div class="container">
  <ion-button class="llamar" (click)="prueba('96487764')"> <ion-icon name="call"></ion-icon> &nbsp; Llamar</ion-button>
</div>

</ion-content>
