<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detalles</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map">
    <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="¿Donde quieres ir?" [hidden]="destination"></ion-searchbar>
    <ion-button class="ion-margin-top" (click)="back()" color="light" fill="clear" size="small" [hidden]="!destination">
      <ion-icon slot="icon-only" name="arrow-back">
        Haz Click
      </ion-icon>
    </ion-button>
    <ion-list [hidden]="!search.length">
      <ion-item (click)="calcRoute(result)" *ngFor="let result of searchResults">
        <ion-icon name="location"></ion-icon> &nbsp; <ion-label>{{ result.description }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="name">
            {{peoples.name}}
          </ion-label>
          <ion-label class="stars">
            {{peoples.estrellas}} <ion-icon name="star" class="icon"></ion-icon>
          </ion-label>
          <ion-avatar>
            <img src="{{peoples.imgUrl}}" alt="" class="peopleImage">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-label class="placa">
            {{peoples.placa}}
          </ion-label>
          <ion-label class="carro">
            {{peoples.vehiculo}}
          </ion-label>
          <ion-avatar class="ion-float-end">
            <img src="{{peoples.imgCar}}" alt="" class="car">
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  

<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="call" (click)="prueba('96487664')">
      <ion-icon name="call"></ion-icon>
      <ion-label>Llamar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>  -->

<div class="container">
  <ion-button class="llamar" (click)="prueba('96487764')"> <ion-icon name="call"></ion-icon> &nbsp; Llamar</ion-button>
  <ion-button class="llamar" (click)="pagar()"> <ion-icon name="card"></ion-icon> &nbsp; Efectuar Pago</ion-button>
</div>

</ion-content>
