
ion-card{
    border-radius: 15px;
    background-color: white;
    height: 14%;
    box-shadow: 2px 2px 5px #999;
}

.name{
    margin-left: 40%;
    position: relative;
    top: 10px;
    font-weight: bold;
}

.peopleImage{
    margin-top: -30%;
}

.stars{
    position: relative;
    top: 35px;
    margin-left: -37%
}

.icon{
    position: relative;
    top: 1.5px;
}

.placa{
    position: relative;
    top: 10px;
    margin-left: 10%;
    font-weight: bold;
}

.carro {
    position: absolute;
    top: 40px;
    margin-left: -43%;
}

.llamar {
    width: 95%!important;
}

.container {
    width: 100%;
    text-align: center;
}

#map {
    height: 70%;
    // position: unset!important;
  }
  .gm-style-iw-d{
    color: black!important;
    font-weight: bold!important;
  }
  
  ion-searchbar {
    background: white;
    color: black;
  }
  
  div {
    color: black!important;
  }
    





