<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Kompas Disponibles</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="flag === 'no'">
    <img src="https://firebasestorage.googleapis.com/v0/b/testkompa-7b5eb.appspot.com/o/Kompa%20Dashboard%2Femoji.svg?alt=media&token=ecee5054-26f2-4e11-8d0a-29cf46a68955" />
    <ion-card-header>
      <ion-card-subtitle>Lo sentimos</ion-card-subtitle>
      <ion-card-title>No hay Conductores</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Por el momento no contamos con conductores disponibles, intente de nuevo mas tarde.
    </ion-card-content>
  </ion-card>
  <ion-list *ngFor="let people of peoples" routerLink="/pagando/{{people.id}}/{{KompaId}}/{{rid}}/{{origen}}/{{destino}}/{{precio}}/{{desc}}/{{suma}}/{{from}}/{{name}}">
    <ion-item  *ngIf="KompaId == 'super' || KompaId == 'mandado'" >
      <ion-avatar slot="start">
        <img src="{{people.imgUrl}}">
      </ion-avatar>
      <ion-label>
        <h2>{{people.nombre}}&nbsp;{{people.apellido}}</h2>
        <h3>Puntuación: {{people.estrellas}} <ion-icon name="star"></ion-icon></h3>
      </ion-label>
    </ion-item> 
  </ion-list>
  <ion-list *ngFor="let people of peoples" routerLink="/deliverydetail/{{people.id}}/{{rid}}/{{KompaId}}/{{precio}}/{{suma}}/{{cantidad}}/{{tipo}}/{{from}}/{{name}}">
    <ion-item  *ngIf="KompaId != 'super' && KompaId != 'mandado'" >
      <ion-avatar slot="start">
        <img src="{{people.imgUrl}}">
      </ion-avatar>
      <ion-label>
        <h2>{{people.nombre}}&nbsp;{{people.apellido}}</h2>
        <h3>Puntuación: {{people.estrellas}} <ion-icon name="star"></ion-icon></h3>
      </ion-label>
    </ion-item> 
  </ion-list>
</ion-content>
