<ion-content>
  <div class="test">
    <div class="containerP">
      <ion-grid>
        <ion-row>
          <ion-col sizeXs="12" col-4 no-padding>
            <div class="img">
              <img src="https://firebasestorage.googleapis.com/v0/b/testkompa-7b5eb.appspot.com/o/El%20Kompa-logo__2.svg?alt=media&token=6a8b3a21-8d01-465f-850e-a93cba11ab0e"/>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
        <div class="pass">
          <ion-label>
            Ingresa tu correo Electronico
          </ion-label>
        </div>
        <ion-item color="white">
          <ion-input [(ngModel)]="email" type="text"></ion-input>
        </ion-item>
        <div class="container2">
          <ion-button (click)="SendLink()">
            <ion-icon name="send"></ion-icon> &nbsp; Enviar
          </ion-button>
        </div>
    </div>
</div>
</ion-content>
