<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detalles del Servicio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map">
    <ion-searchbar id="search" [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="¿Donde quieres ir?" [hidden]="destination"></ion-searchbar>
    <ion-button class="ion-margin-top" (click)="back()" color="light" fill="clear" size="small" [hidden]="!destination">
      <ion-icon slot="icon-only" name="arrow-back">
        Haz Click
      </ion-icon>
    </ion-button>
    <ion-list [hidden]="!search.length">
      <ion-item (click)="calcRoute(result)" *ngFor="let result of searchResults">
        <ion-icon name="location"></ion-icon> &nbsp; <ion-label>{{ result.description }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="name">
              {{Peoples.nombre}}&nbsp;{{Peoples.apellido}}
            </ion-label>
            <ion-label class="stars">
              {{Peoples.estrellas}} <ion-icon name="star" class="icon"></ion-icon>
            </ion-label>
            <ion-avatar>
              <img src="{{Peoples.imgUrl}}" alt="" class="peopleImage">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-label class="placa">
              {{Peoples.placa}}
            </ion-label>
            <ion-label class="carro">
              {{Peoples.modelo}}
            </ion-label>
            <ion-avatar class="ion-float-end">
              <img src="{{Peoples.imgCar}}" alt="" class="car"> 
            </ion-avatar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-item id="testI">
      <ion-label>Precio:</ion-label>
      <ion-label class="price">{{precio}} &nbsp; Lps</ion-label>
    </ion-item>
  </div>
  <div class="botones">
    <ion-button color="danger" (click)="llamar()"><ion-icon name="alert-circle"></ion-icon> &nbsp; Emergencia</ion-button>
  </div>
</ion-content> 
