// ion-label {
//     margin-left: 2%;
//     // max-width: 100%!important;
//     white-space: pre-wrap!important;
//     font-size: 150%;
// }

h6{
    margin-top: 15%;
}


  .fixline{
    display: flex;
    background-image: url(../../../assets/icon/base.png);
    background-size: cover;
    margin-bottom: 0%;
    height: 100%;
}
img {
    width: 70%;
    margin: auto;
}
// ion-list{
//     margin-top: 5%;
// }

.distancia {
    font-size: 110%;
    // margin-top: 50%;
}

  .botones{
      text-align: center;
      margin-top: 2%;
  }

  .price {
    text-align: end;
  }

  #map {
    height: 80%;
    // position: unset!important;
  }
  .gm-style-iw-d{
    color: black!important;
    font-weight: bold!important;
  }
  
  ion-searchbar {
    background: white;
    color: black;
  }
  
  div {
    color: black!important;
  }