<ion-header [translucent]="true">
  <ion-toolbar color="primary"> 
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="carrito()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" col-4 no-padding >
        <div class="container-test">
          <ion-card button routerLink="/superdetails" class="fixline">
            <img src="https://firebasestorage.googleapis.com/v0/b/testkompa-7b5eb.appspot.com/o/Iconos%20Hogar%2Fasistente%20compras.svg?alt=media&token=a32e7885-57be-4553-bb97-51be02196075"/>
            <ion-card-title class="test">Compras en Supermercados</ion-card-title>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" col-4 no-padding>
        <ion-card button routerLink="/mandaditos" class="fixline">
          <img src="https://firebasestorage.googleapis.com/v0/b/testkompa-7b5eb.appspot.com/o/Iconos%20Vehiculo%2Fdelivery.svg?alt=media&token=137f1c97-72a0-4aa9-9b05-bcc79f399f10"/>
          <ion-card-title class="test">Mandaditos</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" col-4 no-padding>
        <ion-card (click)="prox()" class="fixline">
          <img src="https://firebasestorage.googleapis.com/v0/b/testkompa-7b5eb.appspot.com/o/Iconos%20Vehiculo%2Fasistencia%20de%20carretera.svg?alt=media&token=f330d5b0-8467-4347-85c4-4a6837309b94"/>
          <ion-card-title class="test">Asistencia en Carretera</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" col-4 no-padding>
        <ion-card button [routerLink]="['/vipservices']" class="fixline">
          <img src="https://firebasestorage.googleapis.com/v0/b/testkompa-7b5eb.appspot.com/o/Iconos%20Vehiculo%2Ftaxi.svg?alt=media&token=ea0ee715-7a56-4533-9f81-e823a813c57f"/>
          <ion-card-title class="test">Transporte VIP</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
