<ion-header [translucent]="true">
  <ion-toolbar color="primary"> 
    <ion-buttons slot="end">
      <!-- <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button> -->

      <ion-menu-button menu="first"></ion-menu-button>

    </ion-buttons>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" col-4 no-padding>
        <ion-card button [routerLink]="['/home']" class="fixline">
          <img src="https://firebasestorage.googleapis.com/v0/b/testkompa-7b5eb.appspot.com/o/Iconos%20Hogar%2Fhouse-254px-01.svg?alt=media&token=406e7dff-1f4a-4ee2-b86c-502678023b76"/>
          <ion-card-title class="test">Hogar</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" col-4 no-padding>
        <ion-card button [routerLink]="['/automovil']" class="fixline">
          <img src="https://firebasestorage.googleapis.com/v0/b/testkompa-7b5eb.appspot.com/o/Iconos%20Hogar%2Fcar-254px-01.svg?alt=media&token=8315ba1a-41fc-4591-b3b0-2faca33ac436"/>
          <ion-card-title class="test">Vehiculo</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
