<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pagar en Efectivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="fixline">
    <img src="https://firebasestorage.googleapis.com/v0/b/testkompa-7b5eb.appspot.com/o/El%20Kompa-logo__2.svg?alt=media&token=6a8b3a21-8d01-465f-850e-a93cba11ab0e" class="logo"/>
  </ion-card>
  <hr class="separator">
  <ion-title>Detalles del pedido</ion-title>
  <ion-label *ngIf="name == '' && type != 'mandado'">{{menu.nombre}}</ion-label>
  <ion-label *ngIf="type == 'mandado'">{{header}}</ion-label>
  <br>
  <ion-row>
    <ion-col class="price">
      <ion-label>Precio:</ion-label>
    </ion-col>
    <ion-col *ngIf="type != 'mandado'">
      <ion-label>L. {{precio}}</ion-label>
    </ion-col>
    <ion-col *ngIf="type == 'mandado'">
      <ion-label>L. {{price}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="type != 'mandado'">
    <ion-col class="price">
      <ion-label>Envio:</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>L. {{envio}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="type != 'mandado'">
    <ion-col class="price">
      <ion-label>ISV:</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>L. {{ISV}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="type == 'mandado'">
    <ion-col class="price">
      <ion-label>ISV:</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>L. {{ISVM}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="price">
      <ion-label>Total:</ion-label> 
    </ion-col>
    <ion-col>
      <ion-label>L. {{total}}</ion-label>
    </ion-col>
  </ion-row>
  <div class="containern">
    <ion-button *ngIf="type != 'mandado'" class="after" expand="block" routerLink="/peoplein/{{kompaId}}/{{rid}}/{{total}}/{{cantidad}}/{{tipo}}/{{from}}/{{name}}">Continuar</ion-button>
    <ion-button *ngIf="type == 'mandado'" class="after" expand="block" routerLink="/thanks/{{kompaId}}/{{origen}}/{{destino}}/{{username}}/{{total}}"> Continuar</ion-button>
  </div>
</ion-content>
