.test {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/testkompa-7b5eb.appspot.com/o/background.jpg?alt=media&token=db8d1e9e-6fb2-4783-a004-437dd2579fa4)!important;
    background-size: cover;
    height: 100%;
}

.container{
    margin: auto;
    width: 95%;
    // background-color: orange;
}

.fixline{
    display: flex;
    background-image: url(../../../assets/icon/base.png);
    background-size: cover;
    margin-bottom: 0%;
    height: 100%;
}

.img{
    display: grid;
}

.containerP{
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
}

img {
    width: 100%;
    margin: auto;
}

.container2{
    display: grid;
    margin-top: 1%;
    margin-bottom: 2%;
}

ion-row{
    margin-bottom: 5%;
}

.paswordForgot{
    margin-bottom: 2%;
    display: table;
    text-align: center;
    width: 100%;
}

.google{
    --background: rgb(219, 68, 55);
    // width: 100%;
    // height: 350%;
}

.facebook{
    --background: rgb(66,103,178);
}
ion-col{
    width: 100%;
}

.container2{
    margin: auto;
    width: 95%;
    // background-color: orange;
}

.register{
    text-align: center;
    margin-top: 5%;
}