<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="test">
    <div class="containerP">
      <ion-grid>
        <ion-row>
          <ion-col sizeXs="12" col-4 no-padding>
            <div class="img">
              <img src="https://firebasestorage.googleapis.com/v0/b/testkompa-7b5eb.appspot.com/o/El%20Kompa-logo__2.svg?alt=media&token=6a8b3a21-8d01-465f-850e-a93cba11ab0e"/>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="container2">
        <ion-button class="google" (click)="loginGoogle()">
          <ion-icon name="logo-google"></ion-icon> &nbsp; Iniciar con Google
        </ion-button>
        <ion-button class="facebook" (click)="loginFacebook()">
          <ion-icon name="logo-facebook"></ion-icon> &nbsp; Iniciar con Facebook
        </ion-button>
        <ion-label class="register" button [routerLink]="['/klogin']">
          Iniciar sesión como Kompa
        </ion-label>
      </div>
    </div>
</div>
</ion-content>
