<ion-header [translucent] = "true">
  <ion-toolbar color = "primary">
    <ion-title>Kompas Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let employee of employees">
    <!-- <ion-list-header>
      Kompas en Este Servicio
    </ion-list-header> -->

    <ion-item>
      <ion-avatar slot="start">
        <img src="{{employee.profilePhoto}}" alt="">
      </ion-avatar>
      <ion-label>
        <h2>Kevin Estrada</h2>
        <h3>Estrellas = ?</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
