<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Kompa Vehículo 
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4" *ngFor="let Kompa of Kompas" col-6 no-padding>
        <ion-card button routerLink="/service-details/{{Kompa.id}}" class="fixline">
          <img src="{{Kompa.imgUrl}}"/>
          <ion-card-subtitle>{{Kompa.nombre_servicio}}</ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
