.nombre2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;/*si no se declara añade los ... pero muestra todo el texto*/
    margin-bottom: -3%;
    white-space: break-spaces;
  }

  .nombre {
      margin-bottom: -4%;
  }

  .imgComida {
    width: 25%;
    height: 65%;
    background-color: rgb(236,112,0);
    min-width: 25%!important;
    min-height: 65%!important;
  }