<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="fixline">
    <img src="https://firebasestorage.googleapis.com/v0/b/testkompa-7b5eb.appspot.com/o/supermarket.svg?alt=media&token=43ca945d-5fc7-40e7-9105-4cb37ec7dc33"/>
    <ion-card-title class="title">Carrito de Compras</ion-card-title>
  </ion-card>
  <hr class="separator">
  <div class="label">
    <ion-row *ngFor="let item of Items">
      <ion-col class="izquierda">
        <ion-label>{{item.nombre}}</ion-label> <br>
        <ion-label>Cantidad:&nbsp;{{item.cantidad}}</ion-label>
      </ion-col>
      <ion-col class="derecha">
        <ion-label>L.&nbsp;{{item.precio}}</ion-label>
      </ion-col>
    </ion-row>
    <hr class="separator">
    <ion-row>
      <ion-col class="izquierda">
        <ion-label>Total a Pagar</ion-label>
      </ion-col>
      <ion-col class="derecha">
        <ion-label>L.&nbsp;{{total_suma}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-button expand="block" class="continue" routerLink="/peoplein/{{id}}/{{rid}}/{{total_suma}}/{{from}}">Continuar</ion-button>
  </div>
</ion-content>
