<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de Trabajos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col sizeXs="12" col-4 no-padding>
      <div class="container-test">
        <ion-card class="fixline">
          <img src="https://firebasestorage.googleapis.com/v0/b/testkompa-7b5eb.appspot.com/o/Kompa%20Dashboard%2Ffood-delivery.svg?alt=media&token=bba25f57-f57c-45c4-9e6a-1651554e9bef"/>
          <ion-card-title class="test">Detalles de Entrega</ion-card-title>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
  <div class="container">
    <ion-item>
      <ion-label>Nombre de la Orden: &nbsp; {{order.nombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Precio: &nbsp; {{order.precio}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Entregado a: &nbsp; {{order.cliente}}</ion-label>
    </ion-item>
  </div>
</ion-content>
