ion-content {
    #map {
        height: 100%;
        // position: unset!important;
    }
    .gm-style-iw-d{
        color: black!important;
        font-weight: bold!important;
    }

    ion-searchbar {
        background: white;
        color: black;
    }

    div {
        color: black!important;
    }
}