<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-title>
      Kompa Hogar 
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4" *ngFor="let Kompa of Kompas" col-6 no-padding>
        <ion-card button [routerLink]="['/employees']" class="fixline">
          <img src="{{Kompa.imgUrl}}"/>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
