img {
    max-width: 25%;
    border: 0;
    border-radius: 10px;
    margin: 6% 13%;
}

.test {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 170%;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
 .fixline{
    display: flex;
    // background-color: rgb(253,139,0)!important;
    background-image: url(../../../assets/icon/base.png);
    background-size: cover;
    margin-bottom: 3%;
    border-radius: 15px;
}
.separator{
    background-color: gray;
    width: 90%;
    margin-top: 2%;
}

.title {
    margin-left: 2%;
}
.containerbtn {
    width: 90%;
    margin: auto;
    margin-top: 2%;
}

.place {
    margin-left: 2%;
    font-size: 1.2rem;
}

.icon{
    font-size: 1.5rem;
    margin-right: 2%;
}

.nota {
    width: 90%;
    margin: auto;
}

.add {
    text-align: center;
}
